body {
    font-family: 'Livvic', sans-serif;
}

.jumbotron{
  font-family: 'Lexend Deca', sans-serif;
  background-color: #25274D;
  color: white;
}

nav{
  font-family: 'Livvic', sans-serif;
}

#output{
	height:150px;
	width: 100px;
	background-color: grey;
	color: white;
}

#title{
	color: white;
}